{% extends "base.html" %}

{% block content %}
    <h1>Kif To Gif Converter</h1>
    <form action="/" method="post" novalidate>
        <p>
            {{ form.kifu.label }}<br>

            {{ form.kifu(rows='3', cols='50') }}
        </p>
        <p>
            {{ form.start.label }}<br>
            {{ form.start }}
        </p>
        <p>
            {{ form.end.label }}<br>
            {{ form.end }}
        </p>
        <p>
            {{ form.delay.label }}<br>
            {{ form.delay }}
        </p>
        <p>
            {{ form.start_delay.label }}<br>
            {{ form.start_delay }}
        </p>
        <p>
            {{ form.final_delay.label }}<br>
            {{ form.final_delay }}
        </p>
        <p>{{ form.submit() }}</p>
        <p>After clicking submit, please be patient. It will take several seconds to create the GIF file. Do not refresh. The GIF will not be available for long. Please download it immediately.</p>
    </form>
    <p>Source code here: <a href="https://github.com/justremember/kif2gif/">https://github.com/justremember/kif2gif/<a></p>
{% endblock %}
